/* Estilos globales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2{
    font-family: 'Concert One', sans-serif;
    color: #35682d;
}
/* Encabezado */
nav {
    background-color: #E7F5D9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

nav a {
    color: #1A4314;
    padding: 10px;
    text-decoration: none;
}

h1 a {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 180%;
    color: #719F1E;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

li a {
    font-size: 20px;
    font-family: 'Agdasima', sans-serif;
    padding: 5px;
    color: #1A4314;
    text-decoration: none;
}

li a:hover {
    color: #719F1E;
}

/* Secciones */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Botones */
button {
    background-color: #013A20;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #478C5C;
}

/* Formulario */
form label {
    display: block;
    margin: 10px;
}

form input, form select, form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
}

/* Pie de página */
footer {
    background-color: #013A20;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    height: 70px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

#map {
    height: 400px; 
    width: 100%;
}